{% load news_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1> Здравствуй, {{ subscriber.user }}. Новая статьи за последнюю неделю: </h1>
    {% for Article in Articles %}
    <h2> {{ Article.name }} - {{ Article.ARtext|truncatechars:50 }} - <a href="http://127.0.0.1:8000{{ Article.get_absolute_url }}"> Перейти! </a></h2>
    {% endfor %}

</body>
</html>